<header class="nav">
    <div class="nav-inner">
        <a href='{{ "/" | relURL }}' aria-label="CEnTRInnovations homepage">
            <img src='{{ "assets/logo.png" | relURL }}' alt="CEnTRInnovations logo" class="logo" />
        </a>
        <nav>
            <a href='{{ "system" | relURL }}'>CEnTR* System</a>
            <a href='{{ "framework" | relURL }}'>Framework</a>
            <a href='{{ "open-tools" | relURL }}'>Open Tools</a>
            <a href='{{ "working-together" | relURL }}'>Working Together</a>
        </nav>
    </div>
</header>